<!doctype html>
<html>

<head>
    <title>
        <%=shopName%>
    </title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Welcome to <%=shopName%> Shop</h1>
    <h2>We sell all sorts of drinks!</h2>

    <h3>You can find our stores at </h3>
    <ul>
        <% for (let i=0; i < shopInfo.length; i++) { %>
            <li>
                Location: <%= shopInfo[i].locations %><br>
                    Shop Manager: <%= shopInfo[i].manager %><br>
                        Address: <%= shopInfo[i].address %></br>
            </li>
            <% } %>
    </ul>
</body>

</html>